@import "bourbon/bourbon";
@import "neat/neat";

$main-dark: #bd1826;
$second-dark: #830e18;
$main-light: #c8d1d2;
$font-stack1: Arial, sans-serif;

html {
  font-family: 'Playfair Display', serif;}
body {
  margin: 0;
  background-color: $main-light;
}
#logo {
  width: 100px;
  height: auto;
}
#navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $main-dark;
}
.navbarli {
  display: inline;
  float: left;
}
#anchorman a {
  float: right;
  display: inline;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 18px 20px;
}
.navbarli a {
  display: block;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 18px 20px;
  box-shadow: inset 0 0 0 0 $main-dark;
  transition: all ease 0.7s;
}
.navbarli a:hover {
  box-shadow: inset 0 100px 0 0 $second-dark;
  color: white;
}
//This is stuff for the Views

button {
  cursor: pointer;
  background: $main-dark;
  color: white;
  font-size: 18px;
  font-family: 'Playfair Display';
  height: 40px;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  transition: all ease 0.7s;
  padding: 2px 6px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 $main-dark;
}
button:hover {
  box-shadow: inset 0 100px 0 0 $second-dark;
}
.pageheader {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin: 10px 0;
}
.pageheader::first-letter {
  font-size: 50px;
}
#content {
  @include outer-container;
}
.article {
  @include span-columns(8);
  @include shift(2);
  padding: 1%;
  border: 2px solid;
  margin-bottom: .5%;
  border-radius: 2px;
  background-color: white;
}
.articletitle {
  font-size: 30px;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: $second-dark;
}
a:hover {
  color: $main-dark;
}
input {
  margin-left: 1%;
  padding: 0.5%;
  font-size: 1.2em;
  width: 50%;
  border: 3px solid #333;
  border-radius: 3px;
}
#interestlist {
  list-style-type: none;
}
#intbtn {
  cursor: pointer;
  background: $main-dark;
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  border: 3px solid black;
  transition: all ease 0.7s;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 $main-dark;
}
#intbtn:hover {
  box-shadow: inset 0 100px 0 0 $second-dark;
}

.interested {
    font-family: $font-stack1;
    background-color: lightcoral;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: $second-dark;
}
.hidden {
    display: none;
}
